@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --slogan: #073b4c;
    --backdrop: #fafafa;
    --background: #073b4c;
    --foreground: #fff;

    --card: #ffffff;
    --card-foreground: #0d1520;

    --popover: #ffffff;
    --popover-foreground: #ffffff;

    --primary: #171c24;
    --primary-foreground: #fafafa;

    --secondary: #f1f3f4;
    --secondary-foreground: #171c24;

    --muted: #f1f3f4;
    --muted-foreground: #7f8187;

    --accent: #f1f3f4;
    --accent-foreground: #171c24;

    --destructive: #ff4545;
    --destructive-foreground: #fafafa;

    --border: #e0e1e3;
    --input: #e0e1e3;
    --ring: #0d1520;

    --radius: 0.5rem;
  }

  .dark {
    --slogan: #fafafa;
    --backdrop: #0d1520;
    --background: #0d1520;
    --foreground: #fafafa;

    --card: #0d1520;
    --card-foreground: #fafafa;

    --popover: #0d1520;
    --popover-foreground: #fafafa;

    --primary: #fafafa;
    --primary-foreground: #171c24;

    --secondary: #242a32;
    --secondary-foreground: #fafafa;

    --muted: #242a32;
    --muted-foreground: #a6abb7;

    --accent: #242a32;
    --accent-foreground: #fafafa;

    --destructive: #823131;
    --destructive-foreground: #fafafa;

    --border: #242a32;
    --input: #242a32;
    --ring: #b7bfcf;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-backdrop text-foreground;
  }

  button {
    @apply px-4 py-2 font-semibold text-white rounded-lg transition duration-300 bg-[#143D60] hover:bg-[#27667B] active:bg-[#27667B];
  }
}

@layer components {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .no-spinner {
      -moz-appearance: textfield;
  }
}

.btn {
  @apply px-4 py-2 font-semibold text-white rounded-lg transition duration-300;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700;
}

.btn-secondary {
  @apply bg-gray-500 hover:bg-gray-600 active:bg-gray-700;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-600 active:bg-red-700;
}